<a href="https://colab.research.google.com/github/guscldns/TestProject/blob/main/0501/14_%EC%8B%9C%EB%AE%AC%EB%A0%88%EC%9D%B4%EC%85%98%EC%9D%84_%ED%86%B5%ED%95%9C_%EB%AA%A8%EB%8D%B8_%EC%B5%9C%EC%A0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.datasets import load_wine # 예제 와인데이터 가져옴
import pandas as pd # 어떻게 나왔는지 보기 위해 판다스 가져옴

wine = load_wine()

In [3]:
df = pd.DataFrame(wine['data']) # 와인데이터 확인
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [5]:
df = pd.DataFrame(wine['data'], columns = wine['feature_names']) # 열 이름 가져옴
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [ ]:
df = pd.DataFrame(wine['data'], columns = wine['feature_names'])
df['target'] = wine['target'] # target 열 추가, 데이터는 와인의 target
df

In [6]:
wine['target_names']
# class인 것으로 봐서 종류인 것으로 추측
# 그림은 특성이 많아서 무리
# 데이터 표준화는 랜덤포레스로

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [7]:
from sklearn.ensemble import RandomForestClassifier # 램덤포레스트 가져옴
from sklearn.model_selection import GridSearchCV # GridSerch 가져옴

data, target = wine['data'], wine['target']

In [11]:
rf = RandomForestClassifier() 
# 랜덤포레스트 모델 , ()안에 매개변수 넣을 수 있음
# () 안에  n_estimators=100이 기본값 : 결정트리를 100개 만들겠다 > 수정하고 싶으면 변경 가능

dic = {'n_estimators' : range(100, 201, 10), "max_depth" : range(1,11)}
# n_estimators : 결정트리 , range(100, 201, 10) : 100개부터 200개 까지 10개 씩
# max_depth : 내려갈 수 있는 최대 층, range(1,11): 1층부터 10층까지만 가겠다
gs = GridSearchCV(estimator= rf, param_grid= dic,cv=3)
# GridSearchCV(estimator= 모델, param_grid= dic, cv=n)
# estimator= : 매개변수
# dic = 딕셔너리 형태의 옵션값, 
# dic 만들 때 딕셔너리 내 원하는만큼 옵션 추가할 수 있음
# cv=n : 교차검증

gs.fit(data, target) # 학습

GridSearchCV(cv=3, estimator=RandomForestClassifier(),
             param_grid={'max_depth': range(1, 11),
                         'n_estimators': range(100, 201, 10)})

In [12]:
# 100, max(1~10)
# 110, max(1~10) >> 이런 식으로 학습한 것

gs.best_params_ # 최적값

{'max_depth': 9, 'n_estimators': 160}

In [13]:
result = gs.cv_results_  # 결과 정리
df = pd.DataFrame(result) # 데이터프레임화
df.to_excel("result.xlsx") # 엑셀 파일로 다운로드
# 엑셀에서 1등이 제일 좋은 성적을 낸 모델

In [14]:
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.682513,0.435179,0.017790,0.001623,1,100,"{'max_depth': 1, 'n_estimators': 100}",0.916667,0.898305,1.000000,0.938324,0.044251,80
1,0.227312,0.045845,0.013464,0.002580,1,110,"{'max_depth': 1, 'n_estimators': 110}",0.916667,0.847458,0.983051,0.915725,0.055360,110
2,0.174221,0.004663,0.012331,0.000193,1,120,"{'max_depth': 1, 'n_estimators': 120}",0.883333,0.898305,1.000000,0.927213,0.051830,105
3,0.220375,0.037731,0.016857,0.006205,1,130,"{'max_depth': 1, 'n_estimators': 130}",0.866667,0.915254,0.983051,0.921657,0.047729,108
4,0.246695,0.024683,0.026423,0.016480,1,140,"{'max_depth': 1, 'n_estimators': 140}",0.916667,0.898305,1.000000,0.938324,0.044251,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,0.236939,0.002254,0.016717,0.000996,10,160,"{'max_depth': 10, 'n_estimators': 160}",0.916667,0.915254,1.000000,0.943974,0.039621,45
106,0.256948,0.005951,0.020389,0.004480,10,170,"{'max_depth': 10, 'n_estimators': 170}",0.950000,0.898305,1.000000,0.949435,0.041519,26
107,0.272801,0.001196,0.018157,0.000008,10,180,"{'max_depth': 10, 'n_estimators': 180}",0.933333,0.915254,0.983051,0.943879,0.028665,48
108,0.286561,0.007769,0.020363,0.001861,10,190,"{'max_depth': 10, 'n_estimators': 190}",0.933333,0.898305,1.000000,0.943879,0.042181,48
109,0.296164,0.003807,0.018904,0.000255,10,200,"{'max_depth': 10, 'n_estimators': 200}",0.950000,0.898305,1.000000,0.949435,0.041519,26

In [16]:
best = gs.best_estimator_

# best_estimator_ :1등인 모델을 변수에 넣을 수 있음
# 여기서는 best 라는 변수에 넣음
# best 변수의 모델로 훈련, 평가 할 수 있음

In [17]:
best.score(data, target) # best모델로 평가
# 정확도 1.0(100%) 나옴

1.0