<a href="https://colab.research.google.com/github/guscldns/TestProject/blob/main/%EC%8B%9C%EB%A6%AC%EC%A6%88%EC%99%80_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%94%84%EB%A0%88%EC%9E%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([100,200,300])
s

0    100
1    200
2    300
dtype: int64

In [ ]:
s = pd.Series([100,200,300], index=['A','B','C'])
s

A    100
B    200
C    300
dtype: int64

In [ ]:
s.index # 행 이름

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
s.values # 열 값 (array : 행렬), 리스트가 아니라 행렬

array([100, 200, 300])

In [ ]:
df = pd.DataFrame({
    "이름":['홍길동', '이순신', '강동원', '아이유'],
    "성별":['남자','남자','남자','여자'],
    "나이":[40,50,30,20]
})
# 4행 3열짜리 데이터프레임
df # 출력

    이름  성별  나이
0  홍길동  남자  40
1  이순신  남자  50
2  강동원  남자  30
3  아이유  여자  20

In [ ]:
df = pd.DataFrame({
    "이름":['홍길동', '이순신', '강동원', '아이유'],
    "성별":['남자','남자','남자','여자'],
    "나이":[40,50,30,20]
}, index=['가','나', '다','라'],columns=['성별','나이','이름'] ) 
# index= 행 이름 변경
# columns= 열 값 변경
# 4행 3열짜리 데이터프레임
df # 출력

   성별  나이   이름
가  남자  40  홍길동
나  남자  50  이순신
다  남자  30  강동원
라  여자  20  아이유

In [ ]:
box = [['홍길동', '남자', 40],['이순신','남자',50],['아이유', '여자',20]]
box # 출력

[['홍길동', '남자', 40], ['이순신', '남자', 50], ['아이유', '여자', 20]]

In [ ]:
pd.DataFrame(box)

     0   1   2
0  홍길동  남자  40
1  이순신  남자  50
2  아이유  여자  20

In [ ]:
pd.DataFrame(box, columns = ['이름','성별','나이'])

    이름  성별  나이
0  홍길동  남자  40
1  이순신  남자  50
2  아이유  여자  20

In [ ]:
a = pd.DataFrame(box, columns = ['이름','성별','나이'])
a

    이름  성별  나이
0  홍길동  남자  40
1  이순신  남자  50
2  아이유  여자  20

In [ ]:
a.columns

Index(['이름', '성별', '나이'], dtype='object')

In [ ]:
a.index # 행번호 
# start=0 0번째전부터 stop=3 3번째 전까지 1씩있다고 알려줌

RangeIndex(start=0, stop=3, step=1)

In [ ]:
dic = {"이름":['홍길동','이순신','아이유'],
       "성별":['남자','남자','여자'],
       "나이": [40,50,20]}
pd.DataFrame(dic, index = ['A','B','C'], columns = ["성별","나이","이름"])
df.index

Index(['가', '나', '다', '라'], dtype='object')